:root {
  --bacon-strip: 24px;
}

#river {
  width: 100%;
  height: 100%;
  padding-right: 25px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#shortcuts {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  top: 20%;
  left: 60px;
  width: 60px;
  height: 60%;

  writing-mode: sideways-lr;
}

#shortcuts a {
  flex: 1 1;

  color: black;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  line-height: 60px;
  font-weight: 300;
}

#new-tab {
  position: fixed;
  right: 44px;
  top: calc(50% - 40px);
  width: 80px;
  height: 80px;

  background: rgba(0, 0, 0, 0.1);
}

#tabs {
  background: #EFEFEF;
}

#flow {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

#flow section {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20%;
  margin: 0 0 calc(var(--bacon-strip) * 1.5) 0;
  overflow: auto;
}

#flow section:last-child {
  margin: 0;
}

#flow h1 {
  font-family: 'Cormorant Bold';
  margin: var(--bacon-strip) 0;
  text-transform: uppercase;
  font-weight: 400;
}

.row {
  display: flex;
  width: 100%;
  min-height: 260px;
  padding: 0;
  margin: 0 0 var(--bacon-strip) 0;
}

.row:last-child {
  margin: 0;
}

.cell {
  position: relative;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  margin: 0 var(--bacon-strip) 0 0;
  background: rgba(0, 0, 0, 0.1);
}

.cell:last-child {
  margin: 0;
}

.cell .visual {
  flex: 3 1 70%;
  background: rgba(0, 0, 0, 0.1);
}

.pre .cell .visual {
  order: 3;
}

.cell .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 66px;
  height: 66px;

  background: rgba(0, 0, 0, 0.1);
}

.cell h3 {
  flex: 1 2;
  margin: calc(var(--bacon-strip) * 0.5) 0 0 0;
  text-transform: uppercase;
  font-weight: 200;
}

.cell p {
  flex: 1 2;
  font-weight: 100;
}
