:root {
  --bacon-strip: 24px;
}

#river {
  width: 100%;
  height: 100%;
  padding-right: 25px;
  overflow-y: scroll;
  overflow-x: hidden;

  scroll-snap-type: proximity;
  scroll-snap-destination: 50% 50%;

  opacity: 0;
}

#river.ready {
  animation: 300ms ease 0s 1 normal forwards reveal;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#shortcuts {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  top: calc(50% - 225px);
  left: 60px;
  width: 60px;
  height: 450px;

  font-size: 14px;
  writing-mode: sideways-lr;
}

#shortcuts a {
  flex: 1 1;

  color: black;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  line-height: 60px;
  font-weight: 400;
  font-size: 12.5px;
}

#shortcuts #indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 20%;

  background: black;

  transition: transform 0.3s cubic-bezier(.55,-0.6,.55,1.6);
  transform: translateY(0);
  will-change: transform;
}

#new-tab {
  position: fixed;
  right: 44px;
  top: calc(50% - 40px);
  width: 86px;
  height: 86px;
  padding: 0;
  margin: 0;

  border: 0;
  border-radius: 50%;

  background: #8A8A8A;
}

#new-tab:before {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 84px;
  height: 84px;
  padding: 0;
  margin: 0;

  content: '+';
  background: white;
  border-radius: 50%;

  color: #343434;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  line-height:  84px;
}

#flow {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

#flow section {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20%;
  margin: 0 0 calc(var(--bacon-strip) * 1.5) 0;
  overflow: auto;

  background: white;
}

#flow section:last-child {
  margin: 0;
}

#flow section#tabs {
  background: #EFEFEF;
}

#flow h1 {
  font-family: 'Cormorant Bold';
  margin: var(--bacon-strip) 0;
  text-transform: uppercase;
  font-size: 41.5px;
  font-weight: 400;
}

.row {
  display: flex;
  width: 100%;
  min-height: 260px;
  padding: 0;
  margin: 0 0 var(--bacon-strip) 0;
}

#tabs .row {
  padding: var(--bacon-strip) 0 calc(var(--bacon-strip) * 0.5) 0;
  scroll-snap-coordinate: 50% 50%;
}

.row:last-child {
  margin: 0;
}

.cell {
  position: relative;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  margin: 0 var(--bacon-strip) 0 0;
}

.cell:last-child {
  margin: 0;
}

.cell .img {
  flex: 3 1 70%;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.cell.link .img {
  background-size: contain;
}

.pre .cell .img {
  order: 3;
}

.cell .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;

  color: #858585;
  border: 0;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.7);
  display: none;

  opacity: 1;
  transition: opacity 0.15s linear;
}

#tabs .cell .close {
  display: block;
}

#tabs .cell.open .close {
  opacity: 0;
}

.cell h3 {
  flex: 1 2;
  margin: calc(var(--bacon-strip) * 0.5) 0 0 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
}

.pre .cell h3 {
  margin: 0;
}

.cell p {
  flex: 1 2;
  font-size: 15px;
  font-weight: 300;
}

.pre .cell p {
  margin: 0 0 calc(var(--bacon-strip) * 0.5) 0;
}
